# Ignore node_modules in both client and server
client/node_modules/
server/node_modules/

# Ignore log files
*.log

# Ignore build directories
client/build/
server/build/

# Ignore environment files
*.env

# Ignore IDE specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
